<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <mat-form-field>
        <mat-label>Nombre de usuario</mat-label>
        <input matInput [(ngModel)]='data'>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]='password' type='password'>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button [mat-dialog-close]='data' (click)='login()' cdkFocusInitial>Aceptar</button>
</div>