<mat-card>
    <mat-card-title>
        Iniciar sesion
    </mat-card-title>

    <mat-card-content>
        <form action="">

            <mat-form-field>
                <mat-label>Ingrese su nombre de usuario: </mat-label>
                <input type='text' matInput placeholder="User name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Ingrese su contraseña: </mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="Contraseña">
            </mat-form-field>

            <button type="submit" mat-raised-button color='primary'>Login</button>
        </form>




    </mat-card-content>

</mat-card>