<div class="mat-app-background basic-container">

    <mat-grid-list cols="2" rowHeight="2:1">



        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box">
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </mat-grid-tile>


        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                    <div className="sampleRoot">
                        <igx-geographic-map #map width="700px" height="500px" zoomable="true">
                        </igx-geographic-map>
                    </div>
                </div>
            </div>
        </mat-grid-tile>


        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box">
                    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
                    </ngx-charts-pie-chart>

                </div>
            </div>
        </mat-grid-tile>



        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box">
                    <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="single" (select)="onSelect($event)">
                    </ngx-charts-pie-grid>
                </div>
            </div>
        </mat-grid-tile>



        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box">
                    <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" (select)="onSelect($event)">
                    </ngx-charts-advanced-pie-chart>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="filter">
        <p>
            filtros
        </p>
    </div>
</div>