<div>
    <app-nav-menu>
    </app-nav-menu>
</div>

<!----div class="container text-center">
    <button (click)="Listar()" class="btn btn-info">Listar</button>
    <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>

    <button (click)="ListUser()" class="btn btn-info" style="margin-left: 10px;">Listar Usuario</button>
    <button (click)="AddUser()" class="btn btn-info" style="margin-left: 10px;">Nuevo Usuario</button>
</div-->
<router-outlet></router-outlet>