<div>
    <h4>Nuevo Proyecto</h4>
</div>
<div>
    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
            <button (click)="openDialog()" class="newDashButton" tyle="margin-left: 10px;">
                    <img src="assets/img/addIcon.png" >
            </button>

        </mat-grid-tile>
    </mat-grid-list>
</div>
<div>
    <h4>Mis Proyectos</h4>
</div>
<div>
    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile *ngFor="let dashboard of dashboardlist">
            <div>
                {{dashboard.name}}
            </div>
            <div>
                <button (click)="dashboardRoute(dashboard)" class="btn btn-info" style="margin-left: 10px;">Ver</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>