<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/aurora-pack.min.css">
    <link rel="stylesheet" href="assets/css/aurora-theme-base.min.css">
    <link rel="stylesheet" href="assets/css/urku.css">
</head>

<body class="top-fixed">
    <div>

    </div>
    <section>

        <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">

            <div class="ae-grid ae-grid--collapse ">
                <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
                    <h4 class="ae-u-bolder">CREA!</h4>
                    <p class="ae-eta">tus propios entornos de trabajo</p>

                </div>
                <div class="ae-grid__item item-lg-6 ae-kappa au-mb-3">
                    <img src="assets/img/pHome.PNG" alt=" " class=" border ">
                </div>

            </div>

            <div class="ae-grid ae-grid--collapse">
                <div class="ae-grid__item item-lg-6 ae-kappa au-mb-3">
                    <img src="assets/img/pDash.PNG" alt=" " class=" border ">
                </div>
                <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
                    <h4 class="ae-u-bolder">AGREGA!</h4>
                    <p class="ae-eta">tu propio banco de datos para analizarlos con BI-AS
                    </p>

                </div>
            </div>

            <div class="ae-grid ae-grid--collapse ">
                <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
                    <h4 class="ae-u-bolder">DESARROLLA!</h4>
                    <p class="ae-eta">Tus propios gráficos</p>

                </div>
                <div class="ae-grid__item item-lg-6 ae-kappa au-mb-3">
                    <img src="assets/img/pView.PNG" alt=" " class=" border ">
                </div>

            </div>

            <div class="ae-grid au-xs-ta-center au-mb-4">
                <div class="ae-grid__item item-lg-8 item-lg--offset-2">
                    <br><br><br>
                    <h4 class="ae-u-bolder">Distintas opciones de Gráficos, para tu mejorar tu experiencia!</h4>
                </div>

                <style type="text/css">
                    img {
                        margin: 0mm;
                    }
                    
                    .border {
                        border-radius: 200px 100px 200px 100px;
                    }
                </style>

                <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
                    <img src="assets/img/Bar.PNG" alt=" " class=" border ">
                </div>

                <div class=" ae-grid__item item-lg-4 ae-kappa au-mb-3 ">
                    <img src=" assets/img/Pie.PNG " alt=" " class=" border ">
                </div>

                <div class=" ae-grid__item item-lg-4 ae-kappa au-mb-3 ">
                    <img src=" assets/img/Piesa.PNG " alt=" " class=" border ">
                </div>

                <div class=" ae-grid__item item-lg-4 ae-kappa au-mb-3 ">
                    <img src=" assets/img/Pies.PNG " alt=" " class=" border ">
                </div>


            </div>

        </div>
        <div class=" ae-container-fluid au-pt-4 au-pb-4 "></div>
    </section>



    <div>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-3">
                <div class="center">
                    <button class="btn btn-warning" (click)="LoginUser()">Ingresar</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="center">
                    <button class="btn btn-warning" (click)="RegistrarUser()">Registrate!</button>
                </div>
            </div>
        </div>
    </div>

    <script src=" assets/js/svg4everybody.min.js "></script>
    <script>
        svg4everybody();
    </script>
</body>

</html>